.vscode/
.vagrant/
__pycache__/
build/
dist/
node_editor.spec
stuff.py
dpg.ini
d.py
node_editor_copy.py
test_nested.json
zips/python-flask-server
zips/python-flask-server_hbw
zips/python-flask-server_vgr
zips/python-flask-server_mpo